@tailwind base;
@tailwind components;
@tailwind utilities;

.navBtn{
    @apply hidden h-6 md:inline-flex cursor-pointer 
    hover:scale-125 transition-all duration-150 ease-out
}

.btn{
     @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out
}

.socialLogo{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #E8E8E8;
}

.socialLogo:hover{
    transform: translateY(-2px);
}