@tailwind base;
@tailwind components;
@tailwind utilities;

.navBtn{
    @apply hidden h-6 md:inline-flex cursor-pointer 
    hover:scale-125 transition-all duration-150 ease-out
}

.btn{
     @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out
}

.socialLogo{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #E8E8E8;
}

.socialLogo:hover{
    transform: translateY(-2px);
}

.loader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #E8E8E8;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;    
    border: 8px solid;
    border-color:#F4F4F2  transparent #495464 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}